<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>SURPRISE MOTHER FUCKER</h1>
    <img src="https://scontent.fmnl8-2.fna.fbcdn.net/v/t1.18169-9/167948_169441476431472_3703453_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=cdbe9c&_nc_eui2=AeGLoM5uYNeef2P0AMtgkczonvkp4CaIG3-e-SngJogbf7rHgI7GQPDw1yTJpUFIPI2ceGtR3Y1yjXm0EzbrYRKR&_nc_ohc=Ia3-dP0tqhMAX-Mbd3W&_nc_ht=scontent.fmnl8-2.fna&oh=a46ccc860c850df3282a6c4b3fcf420f&oe=61C06073" alt="">
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/146029616&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/fritzie-jerus" title="Fritzie Jerusalem" target="_blank" style="color: #cccccc; text-decoration: none;">Fritzie Jerusalem</a> · <a href="https://soundcloud.com/fritzie-jerus/sulutera-gagong-rapper" title="SULUTERA - GAGONG RAPPER" target="_blank" style="color: #cccccc; text-decoration: none;">SULUTERA - GAGONG RAPPER</a></div>
</body>
</html>